.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.f-bold {
  font-weight: bold;
}

.w-60 {
  width: 60%;
}

.w-30 {
  width: 30% !important;
}

.bg-active {
  background-color: #c8e6c9;
}